.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}



.product-line_content {
    .product-line {
        &_content_top {
            display: flex;
            flex-wrap: wrap;
        }

        &_image {
            display: flex;
            // justify-content: center;
            margin-top: 1rem;
            width: 100%;
            object-fit: cover;
            height: 200px
        }

        &_image {
            display: flex;
            // justify-content: center;
            width: 100%;
            object-fit: cover;
            height: 200px
        }

        &_title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &_code {
            font-size: 0.8rem;
            width: 100%;
            color: rgb(113, 113, 113)
        }

        &_price {
            font-size: 1.3rem;
            color: crimson;
            font-weight: bold;
        }

        &_content_bottom {
            width: 80%;
            margin-bottom: 2rem
        }

        &_buttons {
            padding: 2rem;
        }
    }
}